<h1>Edit Account</h1>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :first_name, label: "First Name", :required => true, :autofocus => true %>
  <%= f.input :last_name, label: "Last Name", :required => true %>
  <%= f.input :password, label: "New Password (leave blank if unnecessary)", :autocomplete => "off", :required => false %>
  <%= f.input :password_confirmation, label: "New Password Confirmation", :required => false %>
  <%= f.input :current_password, label: "Current Password", :hint => "we need your current password to confirm your changes", :required => true %>
  <%= f.button :submit, "Submit" %>
<% end %>
<hr>
<h1>Delete Account</h1>
<p>Your data will not be saved.</p>
<%=link_to "Delete Account", user_registration_path, data: {confirm: "Are you sure?"}, method: :delete, class: "button alert"%>
