<div class="medium-7 medium-centered small-10 small-centered columns">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <% if resource.errors.any? %> 
      <div id="error_explanation">    
        <p><%= pluralize(resource.errors.count, "error") %> prohibited your account from being created:</p>

        <ul>                     
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>    
        <% end %>                
        </ul>
      </div>
    <% end %>     

    <div class="form-inputs">
      <%= f.input :first_name, label: "First Name", autofocus: true, error: false, required: false %>
      <%= f.input :last_name, label: "Last Name", error: false, required: false %>
      <%= f.input :phone_number, label: "Phone Number (10-digit, no formatting, no '+1')", error: false, required: false %>
      <%= f.input :password, label: "Password", error: false, required: false %>
      <%= f.input :password_confirmation, label: "Password Confirmation", error: false, required: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Submit", class: "small-12 small-centered medium-4 medium-centered columns" %>
    </div>
  <% end %>

  <p>or</p>

  <%= link_to "Sign In", new_user_session_path, class: "button success small-12 small-centered medium-4 medium-centered columns" %>
</div>

