<div class="medium-7 medium-centered small-10 small-centered columns">
  <h2>Sign in</h2>
  
  <% flash.each do |name, msg| %>
    <p class=<%= name %>><%= msg %></p>
  <% end %>

  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :phone_number, label: "Phone Number", :required => false, :autofocus => true %>
      <%= f.input :password, :required => false %>
      <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.submit "Submit", class: "button small-12 small-centered medium-4 medium-centered columns" %>
    </div>
  <% end %>

  <p>or</p>

  <%= link_to "Sign Up", new_user_registration_path, class: "button success small-12 small-centered medium-4 medium-centered columns" %>
</div>

