%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title The Nagging Machine 
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body{class: body_class}
    .row
      .show-for-small-only.small-12.columns.mobile-nav
        %ul.side-nav
          %li
            =link_to "Home", root_path
          -if user_signed_in?
            %li
              =link_to "#{current_user.full_name}", mynags_path
            %li
              =link_to "New Nag", new_nag_path
            %li
              =link_to "Edit Account", edit_user_registration_path
            %li
              =link_to "Sign Out", destroy_user_session_path, method: :delete
            %li
              =link_to "Delete My Account", user_registration_path, data: {confirm: "Are you sure?"}, method: :delete
          -else
            %li
              =link_to "Sign In", new_user_session_path
            %li
              =link_to "Sign Up", new_user_registration_path
      .small-12.medium-10.medium-left.columns
        = yield
      .hide-for-small-only.medium-2.medium-right.columns.medium-large-nav
        %ul.side-nav
          %li
            =link_to "Home", root_path
          -if user_signed_in?
            %li
              =link_to "#{current_user.full_name}", mynags_path
            %li
              =link_to "New Nag", new_nag_path
            %li
              =link_to "Edit Account", edit_user_registration_path
            %li
              =link_to "Sign Out", destroy_user_session_path, method: :delete
            %li
              =link_to "Delete My Account", user_registration_path, data: {confirm: "Are you sure?"}, method: :delete
          -else
            %li
              =link_to "Sign In", new_user_session_path
            %li
              =link_to "Sign Up", new_user_registration_path
    %hr
    %footer#footer.small-10.small-centered.columns
      .row
        %p.left
          Hand-crafted by
          =link_to "@MoZhuuuuu", "https://twitter.com/mozhuuuuu"
          %br
          a world class beginner
          =link_to "@launchacademy_", "https://twitter.com/launchacademy_"
    = javascript_include_tag "application"
