%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title The Nagging Machine 
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body{class: body_class}
    .row.main-content
      .small-10.small-centered.columns
        .row
          .small-12.medium-8.medium-left.columns
            = yield
          .small-12.medium-4.medium-right.columns.navigation
            %ul.side-nav
              -if user_signed_in?
                %li
                  =link_to "My Nags", mynags_path, class: "button secondary" if !current_page?(mynags_path)
                %li
                  =link_to "New Nag", new_nag_path, class: "button secondary" if !current_page?(new_nag_path)
                %li
                  =link_to "Edit Account", edit_user_registration_path, class: "button secondary" if !current_page?(edit_user_registration_path)
                %li
                  -if current_user.active?
                    =link_to "Stop All Nags", stop_nags_path, method: :put, class: "button secondary"
                  -else
                    =link_to "Restart Nags", restart_nags_path, method: :put, class: "button success"
                %li
                  =link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button secondary"
              -else
                %li
                  =link_to "Sign In", new_user_session_path, class: "button secondary" if !current_page?(new_user_session_path)
                %li
                  =link_to "Sign Up", new_user_registration_path, class: "button secondary" if !current_page?(new_user_registration_path)
    =render "layouts/footer"
    = javascript_include_tag "application"
