%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title The Nagging Machine 
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body{class: body_class}
    .row
      %p.right
        -if user_signed_in?
          Signed in as 
          =link_to "#{current_user.full_name}", mynags_path
          |
          =link_to "Sign Out", destroy_user_session_path, method: :delete
    .row.main-content
      = yield
    =render 'layouts/footer'
    = javascript_include_tag "application"
